{
    "parser": "@typescript-eslint/parser",
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "React": true,
        "require": true,
        "module": "readonly"
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module",
        "project": "./tsconfig.app.json"
    },
    "settings": {
        "react": {
            "version": "detect",
            "linkComponents": [
                {
                    "name": "Link",
                    "linkAttribute": "to"
                },
                {
                    "name": "NavLink",
                    "linkAttribute": "to"
                }
            ]
        }
    },
    "plugins": [
        "react",
        "react-compiler",
        "react-hooks",
        "@typescript-eslint"
    ],
    "rules": {
        "no-empty": "error",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/explicit-function-return-type": "error"
    }
}